<!DOCTYPE html>
<html lang="en">
<head th:include="admin/fragments/head.html"></head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:include="admin/fragments/sidebar.html" class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar"
        style="background-color: #417cc0"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:include="admin/fragments/nav.html"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">

                            <div class="col my-auto">

                                <h1>Create A Job</h1>

                                <form th:action="@{/admin/jobs/create}" th:object="${jobs}"
                                      method="post"
                                      enctype="multipart/form-data" class="pt-3">

                                    <div class="form-group">
                                        <label for="jobTitle">Job Title</label>
                                        <input type="text" name="jobTitle" th:field="${jobs.jobTitle}"
                                               id="jobTitle"
                                               placeholder="Job Title" class="form-control"
                                               required
                                               oninvalid="this.setCustomValidity('Job Title is Required')"
                                               oninput="this.setCustomValidity('')"
                                        />
                                        <span th:if="${#fields.hasErrors('jobTitle')}"
                                              th:errors="*{jobs.jobTitle}"></span>
                                    </div>
<!--                                    Job Category-->
                                    <div class="form-group">
                                        <label for="jobCategory">Job Category</label>
                                        <select name="jobCategory" id="jobCategory" class="form-select" required>
                                            <option name="defaultMessage" value="">Please Select A Value Below</option>
                                            <option name="admin" value="admin">Administrative Personnel</option>
                                            <option name="licensed" value="licensed">Licensed Personnel</option>
                                            <option name="support" value="support">Support Staff</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="classCode">Class Code</label>
                                        <input type="text" name="classCode" th:field="${jobs.classCode}"
                                               id="classCode"
                                               placeholder="Class Code" class="form-control" />
                                        <span th:if="${#fields.hasErrors('classCode')}"
                                              th:errors="*{jobs.classCode}"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="applyLink">Apply Link</label>
                                        <input type="text" name="applyLink" th:field="${jobs.applyLink}"
                                               id="applyLink"
                                               placeholder="Apply Link" class="form-control textarea-editor" />
                                        <span th:if="${#fields.hasErrors('applyLink')}"
                                              th:errors="*{jobs.applyLink}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="division">Division</label>
                                        <input type="text" name="division" th:field="${jobs.division}"
                                               id="division"
                                               placeholder="Division" class="form-control" />
                                        <span th:if="${#fields.hasErrors('division')}"
                                              th:errors="*{jobs.division}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="classification">Classification</label>
                                        <input type="text" name="classification" th:field="${jobs.classification}"
                                               id="classification"
                                               placeholder="classification" class="form-control" />
                                        <span th:if="${#fields.hasErrors('classification')}"
                                              th:errors="*{jobs.classification}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="termsOfEmployment">Terms of Employment</label>
                                        <input type="text" name="termsOfEmployment" th:field="${jobs.termsOfEmployment}"
                                               id="termsOfEmployment"
                                               placeholder="termsOfEmployment" class="form-control textarea-editor" />
                                        <span th:if="${#fields.hasErrors('termsOfEmployment')}"
                                              th:errors="*{jobs.classification}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="flaStatus">FLSA STATUS</label>
                                        <input type="text" name="flaStatus" th:field="${jobs.flaStatus}"
                                               id="flaStatus"
                                               placeholder="flaStatus" class="form-control" />
                                        <span th:if="${#fields.hasErrors('flaStatus')}"
                                              th:errors="*{jobs.classification}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="jobFamily">Job Family</label>
                                        <input type="text" name="jobFamily" th:field="${jobs.jobFamily}"
                                               id="jobFamily"
                                               placeholder="jobFamily" class="form-control"
                                              />
                                        <span th:if="${#fields.hasErrors('jobFamily')}"
                                              th:errors="*{jobs.jobFamily}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="referenceCode">Reference Code</label>
                                        <input type="text" name="referenceCode" th:field="${jobs.referenceCode}"
                                               id="referenceCode"
                                               placeholder="referenceCode" class="form-control"

                                        />
                                        <span th:if="${#fields.hasErrors('referenceCode')}"
                                              th:errors="*{jobs.referenceCode}"></span>
                                    </div>
                                    <!--                                    text field-->
                                    <div class="form-group">
                                        <label for="positionSummary">Position Summary</label>
                                        <textarea type="text" name="positionSummary" th:field="${jobs.positionSummary}"
                                                  id="positionSummary"
                                                  placeholder="positionSummary" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('positionSummary')}"
                                              th:errors="*{jobs.positionSummary}"></span>
                                    </div>
                                    <!--                                    text field-->
                                    <div class="form-group">
                                        <label for="essentialDutiesAndResponsibilities">Essential Duties and
                                            Responsibilities</label>
                                        <textarea type="text" name="positionSummary"
                                                  th:field="${jobs.essentialDutiesAndResponsibilities}"
                                                  id="essentialDutiesAndResponsibilities"
                                                  placeholder="essentialDutiesAndResponsibilities" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('essentialDutiesAndResponsibilities')}"
                                              th:errors="*{jobs.essentialDutiesAndResponsibilities}"></span>
                                    </div>




                                    <!--                                    text field-->
                                    <div class="form-group">
                                        <label for="positionRequirements">Position Requirements</label>
                                        <textarea type="text" name="positionRequirements"
                                                  th:field="${jobs.positionRequirements}"
                                                  id="positionRequirements"
                                                  placeholder="positionRequirements" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('positionRequirements')}"
                                              th:errors="*{jobs.positionRequirements}"></span>
                                    </div>
<!--                                    text field-->
                                    <div class="form-group">
                                        <label for="preferredQualifications">Preferred Qualifications</label>
                                        <textarea type="text" name="preferredQualifications"
                                                  th:field="${jobs.preferredQualifications}"
                                                  id="preferredQualifications"
                                                  placeholder="Preferred Qualifications" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('preferredQualifications')}"
                                              th:errors="*{jobs.preferredQualifications}"></span>
                                    </div>
                                    <!--                                    text field-->
                                    <div class="form-group">
                                        <label for="salaryAndBenefits">Salary and Benefits</label>
                                        <textarea type="text" name="salaryAndBenefits"
                                                  th:field="${jobs.salaryAndBenefits}"
                                                  id="salaryAndBenefits"
                                                  placeholder="salaryAndBenefits" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('salaryAndBenefits')}"
                                              th:errors="*{jobs.salaryAndBenefits}"></span>
                                    </div>
                                    <!--                                    text field-->
                                    <div class="form-group">
                                        <label for="aaEoeStatement">AA/EOE Statement</label>
                                        <textarea type="text" name="aaEoeStatement" th:field="${jobs.aaEoeStatement}"
                                                  id="aaEoeStatement"
                                                  placeholder="aaEoeStatement" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('aaEoeStatement')}"
                                              th:errors="*{jobs.aaEoeStatement}"></span>
                                    </div>
                                    <!--                                    text field-->
                                    <div class="form-group">
                                        <label for="distinguishingCharacteristics">Distinguishing
                                            Characteristics</label>
                                        <textarea type="text" name="distinguishingCharacteristics"
                                                  th:field="${jobs.distinguishingCharacteristics}"
                                                  id="distinguishingCharacteristics"
                                                  placeholder="Distinguishing Characteristics" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('distinguishingCharacteristics')}"
                                              th:errors="*{jobs.distinguishingCharacteristics}"></span>
                                    </div>
                                    <!--                                    text field-->
                                    <div class="form-group">
                                        <label for="knowledgeSkillsAndAbilities">Knowledge, Skills, and Abilities (Position Expectations)
                                        </label>
                                        <textarea type="text" name="knowledgeSkillsAndAbilities"
                                                  th:field="${jobs.knowledgeSkillsAndAbilities}"
                                                  id="knowledgeSkillsAndAbilities"
                                                  placeholder="Knowledge, Skills, and Abilities (Position Expectations)" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('knowledgeSkillsAndAbilities')}"
                                              th:errors="*{jobs.knowledgeSkillsAndAbilities}"></span>
                                    </div>
<!--                                    text field-->
                                    <div class="form-group">
                                        <label for="documentsRequiredAtTimeOfApplication">Document(s) Required at Time of Application</label>
                                        <textarea type="text" name="documentsRequiredAtTimeOfApplication"
                                                  th:field="${jobs.documentsRequiredAtTimeOfApplication}"
                                                  id="documentsRequiredAtTimeOfApplication"
                                                  placeholder="Document(s) Required at Time of Application" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('documentsRequiredAtTimeOfApplication')}"
                                              th:errors="*{jobs.documentsRequiredAtTimeOfApplication}"></span>
                                    </div>
<!--                                    text field-->
                                    <div class="form-group">
                                        <label for="examplesOfAssignedWorkAreas">Examples of Assigned Work Areas</label>
                                        <textarea type="text" name="examplesOfAssignedWorkAreas"
                                                  th:field="${jobs.examplesOfAssignedWorkAreas}"
                                                  id="examplesOfAssignedWorkAreas"
                                                  placeholder="Examples of Assigned Work Areas" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('examplesOfAssignedWorkAreas')}"
                                              th:errors="*{jobs.examplesOfAssignedWorkAreas}"></span>
                                    </div>
<!--                                    text field-->
                                    <div class="form-group">
                                        <label for="workEnvironment">Work Environment</label>
                                        <textarea type="text" name="workEnvironment"
                                                  th:field="${jobs.workEnvironment}"
                                                  id="workEnvironment"
                                                  placeholder="Work Environment" class="form-control textarea-editor"

                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('workEnvironment')}"
                                              th:errors="*{jobs.workEnvironment}"></span>
                                    </div>
<!--                                    text field-->
                                    <div class="form-group">
                                        <label for="examplesOfEquipmentSuppliesUsedToPerformTasks">Examples of Equipment/Supplies Used to Perform Tasks</label>
                                        <textarea type="text" name="examplesOfEquipmentSuppliesUsedToPerformTasks"
                                                  th:field="${jobs.examplesOfEquipmentSuppliesUsedToPerformTasks}"
                                                  id="examplesOfEquipmentSuppliesUsedToPerformTasks"
                                                  placeholder="Examples of Equipment/Supplies Used to Perform Tasks" class="form-control textarea-editor"
                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('examplesOfEquipmentSuppliesUsedToPerformTasks')}"
                                              th:errors="*{jobs.examplesOfEquipmentSuppliesUsedToPerformTasks}"></span>
                                    </div>
<!--                                    text field-->
                                    <div class="form-group">
                                        <label for="positionExpectations">Position Expectations</label>
                                        <textarea type="text" name="positionExpectations"
                                                  th:field="${jobs.positionExpectations}"
                                                  id="positionExpectations"
                                                  placeholder="Position Expectations" class="form-control textarea-editor"
                                        ></textarea>
                                        <span th:if="${#fields.hasErrors('positionExpectations')}"
                                              th:errors="*{jobs.positionExpectations}"></span>
                                    </div>

                                    <div class="form-group pt-3">
                                        <input type="submit" value="Add Index Of Form" class="btn btn-primary">
                                    </div>
                                </form>
                            </div><!-- end column-->



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:include="admin/fragments/footer.html" class="sticky-footer bg-white"></footer>
    </div>
</div>

<div th:include="admin/fragments/scripts.html"></div>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script>
    $(document).ready(function () {
        // jQuery('#jobsTable').DataTable();
        $('.textarea-editor').summernote({
            height: 400, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: true // set focus to editable area after initializing summernote
        });
    });
</script>
</body>
</html>